@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans.eot');
  src: local('вє'), url('../fonts/OpenSans/OpenSans.woff') format('woff'), url('../fonts/OpenSans/OpenSans.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/Helvetica/HelveticaNeueCyr-Light.eot');
  src: local('вє'), url('../fonts/Helvetica/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/Helvetica/HelveticaNeueCyr-Light.otf') format('truetype'), url('../fonts/Helvetica/HelveticaNeueCyr-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('../fonts/Helvetica/HelveticaNeueCyr-Bold.eot');
  src: local('вє'), url('../fonts/Helvetica/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/Helvetica/HelveticaNeueCyr-Bold.otf') format('truetype'), url('../fonts/Helvetica/HelveticaNeueCyr-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}